.form {
    background-color: #797979;
    padding: 1rem;
    width: 20rem;
  }
  
  .form label {
    display: block;
    margin-bottom: 0.2rem;
    margin-top: 0.3rem;
    color: #333333;
    font-weight: bold;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #575757;
    color: #d2d2d2;
  }
  
  .actions button:hover {
    background-color: #3c393f;
  }
  
  .actions button[type='button'] {
    background-color: transparent;
  }
  
  .actions button[type='button']:hover {
    color: #161616;
  }