.scrollbar{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.actionscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.action {
    margin-left: 10px;
}

.text {
    margin-left: 20px;
}

.timer {
    margin-left: 20px;
}

.infobox {
    width: 50%;
    text-align: center;
    padding: 1rem;
    width: 20rem;
}

.settingsbox {
    width: 50%;
    text-align: center;
    padding: 1rem;
    width: 20rem;
}

.solutionbox {
    width: 50%;
    text-align: center;
    padding: 1rem;
    width: 20rem;
}